<mat-toolbar class="link-toolbar">
    <mat-toolbar-row>
      <mat-nav-list>
        <mat-list-item routerLink="/about" [routerLinkActive]="['active']">
          About Me
        </mat-list-item>
        <mat-list-item routerLink="/portfolio" [routerLinkActive]="['active']">
          Portfolio
        </mat-list-item>
        <mat-list-item routerLink="/search" [routerLinkActive]="['active']">
          Search
        </mat-list-item>
      </mat-nav-list>
    </mat-toolbar-row>
</mat-toolbar>
