.content-container {
    display: flex;
    overflow: hidden;
}

.sidenav-container {
    display: flex;
    width: 150px;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid;
}

.router-container {
    width: 85%;
}