<div class="sidenav-container">
  <mat-nav-list role="navigation">  
    <a mat-list-item class="nav-link">React</a>
    <a mat-list-item class="nav-link">Angular</a>
    <a mat-list-item class="nav-link">PostgreSQL</a>
    <a mat-list-item class="nav-link">Express</a>
    <a mat-list-item class="nav-link">Node</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
    <a mat-list-item class="nav-link">tbd</a>
  </mat-nav-list>
</div>