<mat-nav-list role="navigation">
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">React.js</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Angular</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">PostgreSQL</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Epress.js</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Node</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Next.js</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">7</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">8</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">9</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">10</a>
    </mat-card-content>
  </mat-card>  
</mat-nav-list>
