<mat-nav-list role="navigation">
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">React.js</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/angular">Angular</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">PostgreSQL</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Express.js</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Node</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Next.js</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Coming Soon!</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Coming Soon!</a>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Coming Soon!</a>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-content>
      <a mat-list-item class="nav-link" routerLink="/portfolio/react">Coming Soon!</a>
    </mat-card-content>
  </mat-card>  
</mat-nav-list>
