.sources-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
}

mat-divider {
    width: 20%;
    align-self: center;
    margin: 15px;
}