.content-container {
    display: flex;
    overflow: hidden;
}

.sidenav-container {
    display: flex;
    width: 175px;
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid;
}

.app-viewer-container {
    width: 85%;
    position: fixed;
    left: 15%
}