<div class="monitor">
  <mat-nav-list role="navigation">
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/react" [routerLinkActive]="['active']">React.js</a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/firebase" [routerLinkActive]="['active']">Google Firebase</a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">Angular</a>
      </mat-card-content>
    </mat-card>  
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">Express.js</a>
      </mat-card-content>
    </mat-card>  
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">Node</a>
      </mat-card-content>
    </mat-card>  
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">Next.js</a>
      </mat-card-content>
    </mat-card>  
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">PostgreSQL</a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">Coming Soon!</a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">Coming Soon!</a>
      </mat-card-content>
    </mat-card>  
    <mat-card>
      <mat-card-content>
        <a mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">Coming Soon!</a>
      </mat-card-content>
    </mat-card>  
  </mat-nav-list>
</div>

<div class="mobile">
  <mat-toolbar class="project-toolbar">
    <mat-toolbar-row>
      <mat-nav-list>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/react" [routerLinkActive]="['active']">
          React.js
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/firebase" [routerLinkActive]="['active']">
          Firebase
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          Angular
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          Express.js
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          Node
        </mat-list-item> 
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          Next.js
        </mat-list-item>   
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          PostgreSQL
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          Coming Soon!
        </mat-list-item>
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          Coming Soon!
        </mat-list-item> 
        <mat-divider [vertical]="true"></mat-divider>
        <mat-list-item class="nav-link" routerLink="/portfolio/angular" [routerLinkActive]="['active']">
          Coming Soon!
        </mat-list-item> 
        <mat-divider [vertical]="true"></mat-divider>
      </mat-nav-list>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
