.master-container {
  margin-top: 256px;
  height: 100vh;
  overflow: auto;
}

.top-nav-toolbar {
  background-image: url('/assets/images/throneworld.png');
  background-size: cover;
  background-position: center;
  position: fixed;
  top: 0;
  z-index: 69;
}

.top-nav-header {
  padding-left: 2%;
  font-size: xx-large;
  color: white;
}

.top-nav-spacer {
  flex: 1 1 auto;
}

.top-nav-icon {
  color: white;
}

.link-toolbar {
  position: fixed;
  top: 192px;
  z-index: 69;
}

.active {
  background-color: rgb(235, 235, 235);
}

mat-toolbar-row {
  justify-content: center;
}

mat-nav-list {
  display: flex;
  width: 100%;
  text-align: center;
}
