<div class="firebase-container">
    <h1>Google Firebase</h1>
    <div class="card-container">
        <mat-card>
            <img mat-card-image src="/assets/images/firebase-profile.png">
            <mat-card-content>
                <p>
                    Profile page displays information pulled from Google Firebase
                </p>
            </mat-card-content>
        </mat-card>
    
        <mat-card>
            <img mat-card-image src="/assets/images/cloud-firestore.png">
            <mat-card-content>
                <p>
                    View of database structure inside the Firebase
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
