<div class="about-me-content">
    <mat-card class="about-me-card">
        <mat-card-header>
            <mat-card-title>Zeferino (Zef) Anderson</mat-card-title>
            <mat-card-subtitle>Full-Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/zef.png" alt="Photo of myself">
        <mat-card-content>
            <p>
                I have dedicated myself to become a
                full-stack developer. I aim to combine my 
                interpersonal communication skills with my own
                programming abilities to make an impact in the 
                development industry. 
            </p>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="about-me-card">
        <mat-card-header>
            <mat-card-title>Education And Training</mat-card-title>
            <mat-card-subtitle>A Quick Overlook</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/mtec.png" alt="Photo of Trades and Technology Building">
        <mat-card-content>
            <ul> Mountainland Technical College
                <li>Web Programming and Development</li>
                <li>Jan 2023 - Jan 2024</li>
            </ul>
            <ul> Dixie State University 
                <li>Bachelor Degree</li>
                <li>Interpersonal Communication</li>
                <li>Jan 2010 - Dec 2013</li>
            </ul>
        </mat-card-content>
    </mat-card>

    <mat-card class="about-me-card">
        <mat-card-header>
            <mat-card-title>Languages and Skills</mat-card-title>
            <mat-card-subtitle>What I Can Program</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/languages.png" alt="Image including different programming languages">
        <mat-card-content>
           <ul>Design
                <li>HTML, SCSS, Bootstrap, Tailwind CSS</li>
                <li>Angular Material</li>
           </ul>
           <ul>Languages
                <li>Javascript, React.js, Node.js, Next.js</li>
                <li>Typescript, Angular, SQL, PostgreSQL</li>
                <li>Git, Prisma, Ionic</li>
           </ul>

        </mat-card-content>
    </mat-card>

    <mat-card class="about-me-card">
        <mat-card-header>
            <mat-card-title>Work History</mat-card-title>
            <mat-card-subtitle>With Relevant Experience</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../assets/images/w4.png" alt="Image including different programming languages">
        <mat-card-content>
            <ul>Real Growth Media | Software Engineer Intern
                <li>Full-stack development for web apps</li>
                <li>Next.js and Flowbite React | front-end development for web apps</li>
                <li>Prisma and PostgreSQL | back-end development</li>
            </ul>
        </mat-card-content>
    </mat-card>

</div>



