@media screen and (max-width: 850px) {
  .top-nav-toolbar {
    background-image: url('/assets/images/throneworld.png');
    background-size: cover;
    background-position: center;
  }

  mat-toolbar-row {
    display: flex;
    flex-direction: column;
  }
        
  .top-nav-header {
    padding-left: 2%;
    font-size: xx-large;
    color: white;
  }
        
  .top-nav-spacer {
    flex: 1 1 auto;
  }
       
  .top-nav-icon {
    color: white;
  }  
}

@media screen and (min-width: 851px) {
  .top-nav-toolbar {
    background-image: url('/assets/images/throneworld.png');
    background-size: cover;
    background-position: center;
  }
      
  .top-nav-header {
    padding-left: 2%;
    font-size: xx-large;
    color: white;
  }
      
  .top-nav-spacer {
    flex: 1 1 auto;
  }
      
  .top-nav-icon {
    color: white;
  }  
}

