<div class="monitor">
  <mat-toolbar class="top-nav-toolbar">
      <mat-toolbar-row></mat-toolbar-row>
        <mat-toolbar-row>
          <header class="top-nav-header">Zef Anderson | Portfolio</header>
          <span class="top-nav-spacer"></span>
          <section>
            <button mat-icon-button aria-label="Icon-button with linkedIn icon" (click)="goToLinkedIn()">
              <mat-icon class="top-nav-icon" svgIcon="linkedin"></mat-icon>
            </button>
            <button mat-icon-button aria-label="Icon-button with github icon" (click)="goToGitHub()">
              <mat-icon class="top-nav-icon" svgIcon="github"></mat-icon>
            </button>
            <button mat-icon-button aria-label="Icon-button with email icon" (click)="sendEmail()">
              <mat-icon class="top-nav-icon" svgIcon="mail"></mat-icon>
            </button>
          </section>
        </mat-toolbar-row>
      <mat-toolbar-row></mat-toolbar-row>
  </mat-toolbar>
</div>