<div class="angular-container">
    <h1>Angular</h1>
    <div class="card-container">
        <mat-card>
            <img mat-card-image src="/assets/images/portfolio-home.png">
            <mat-card-content>
                <p>
                    The page you are currently viewing is built in Angular
                    using Typescript. This includes animations,
                    routing, and media queries
                </p>
            </mat-card-content>
        </mat-card>
    
        <mat-card>
            <img mat-card-image src="/assets/images/mat-card.png">
            <mat-card-content>
                <p>
                    UI designed with Angular Material 
                    including but not limited to:
                    Card, Sidenav, Toolbar, Tabs, and Navlist
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
