<div class="react-container">
    <mat-card>
        <img mat-card-image src="/assets/images/botw1.png">
        <mat-card-content>
            <p>
                Built on React.js framework.  Fetches data from the official Legend of Zelda
                API.
            </p>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <img mat-card-image src="/assets/images/react-modal.png">
        <mat-card-content>
            <p>
                Uses modals that blur and disable background content. Imports custom font matching the game's style.  
            </p>
        </mat-card-content>
    </mat-card>
</div>
